<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Remedios</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style_gerenciador.css')}}">
</head>
<body>

    <div class="container">
        <h2>Registro do remedio</h2>
        <form class="registration-form">
          <input type="search" name="nome" id="nome" placeholder="Digite seu remedio">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date">
          <label for="time">Time:</label>
          <input type="time" id="time" name="time">
          <label for="Quantidade">Quantidade:</label>
          <input type="number" name="Quantidade" id="qtd">
          <br>
          <label for="Repetir">Repetir alarme em quanto tempo? (Apenas selecione se tiver mais que um remedio)</label>
          <input type="number" name="time-repeat" id="number">
          <button type="submit" name="btnRegistrar">Registrar</button>
        </form>
      </div>
      <script src="{{url_for('static' , filename='js/script_gerenciador.js')}}"></script>
</body>
</html>