<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema de Pontos</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style/style-pontos.css')}}">
</head>
<body>

    <div class="item">
        <div class="top">
            <p>Total Pontos</p>
            <p>Gained/p>
        </div>
        <div class="bottom">
            <div class="line"></div>
            <h3>250</h3>
        </div>
    </div>
    <div class="item">
        <div class="top">
            <p>Remedios</p>
            <p>Em progresso</p>
        </div>
        <div class="bottom">
            <div class="line"></div>
            <h3>03</h3>
        </div>
    </div>
    <div class="item">
        <div class="top">
            <p>Tarefas</p>
            <p>Finalizadas</p>
        </div>
        <div class="bottom">
            <div class="line"></div>
            <h3>250</h3>
        </div>
    </div>
</div>

<div class="separator">
    <h4>Trabalhos</h4>
</div>

<div class="weekly">
    <div class="title">
        <div class="line"></div>
        <h5>Tarefas para a semana</h5>
    </div>
    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>

</aside>

</div>

</body>
</html>